:root{
--fondo:#000000;
--celeste:#19A3B8;
}

/* Global Styles */
main{
	background-color: var(--fondo);
	
	}
.cele{
		background-color: var(--celeste);
	}
body{
		font-family: 'Montserrat', sans-serif;
	}

/* Navbar */
header .navbar {
	background-color: transparent !important;
}

/* hover h2 */
h2 {
	color: #fff;
	cursor: default;
  }


 /* card */
@media only screen and (max-width: 600px) {
	.card {
		width: 80% !important;
}
		.carrousel-item>img	{
			height: 50px;
}
}
.fas{
	background-color: var(--celeste);
 }

 .tooltip .tooltip-inner {
	background: black;
	color: lime;
	border: 2px solid lime;
  }
  .tooltip .arrow {
	width: 11px!important;
	height: 11px!important;
	border: 2px solid lime;
	bottom: 1px;
  }
  .tooltip .arrow:before {
	width: 11px;
	height: 11px;
	background: black;
	border: 0;
  }
  .tooltip.bs-tooltip-top .arrow {
	transform: rotate(-135deg);
  }
  .tooltip.bs-tooltip-bottom .arrow {
	transform: rotate(135deg);
	top: 2px;
  }
 