:root{
--fondo:#000000;
--celeste:#19A3B8;
}

@media only screen and (max-width: 600px) {
	.card {
		width: 80% !important;
	}
		.carrousel-item>img	{
			height: 50px;
			}
	
}
h2:hover {
	color: orange;
}
header .navbar {
	background-color: transparent !important;
}
main{
background-color: var(--fondo);

}
.cele{
	background-color: var(--celeste);
}
body{
	font-family: 'Montserrat', sans-serif;
}